pyrogram==2.0.96
tgcrypto
aiohttp
mutagen
psutil
aigpy
python-dotenv
lyricsgenius
pydub
pycryptodomex
Pillow
psycopg2-binary
pathvalidate
music_tag
git+https://github.com/kokarare1212/librespot-python#egg=librespot